body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  form {
    max-width: 600px;
    margin: 10px
 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 200;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="number"],
  input[type="tel"],
  input[type="search"] 

  {
    width: 100%;
    padding: 10px;
    border: 1px solid #E5E7E9;
  }
  
  input[type="color"] {
    width: 30px;
    height: 40px;
    padding: 0;
    border: none;
  }
  
  
