body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formato{
    color: rgb(248, 252, 255);
    margin: 100%;
    width: auto;
    padding: 1em;
}
.Registro{
    background-color: #e5e5f7; 
}

.Evento{
    width: 590px;
}